[Unit]
Description=Minecraft Server Inactivity Check and Shutdown
After=minecraft.service

[Service]
Type=oneshot
ExecStart=/home/minecraft/scripts/check-minecraft-players.sh

[Install]
WantedBy=multi-user.target
